{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}">
{% endblock %}

{% block content %}

<div class="container">

  <form id="form-login" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div id="message"></div>

    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}

    {% for error in form.username.errors %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
      </button>
      {{ error }}
    </div>
    {% endfor %}

    {{ wtf.form_field(form.password) }}

    {% for error in form.password.errors %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
      </button>
      {{ error }}
    </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->
<!-- Optional JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  $('#form-login').submit(function (e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    $.ajax({
      url: '/login',
      method: 'post',
      data: form.serialize(),
      dataType: 'json',
      success: function (aData) {
        if (aData.login) { 
          document.cookie = "token="+ aData.token;
          window.location.replace('\home'); 
        }
        else $('#message').html(`
        <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
          </button>`+ aData.message + `
        </div>
        `);

      },
      beforeSend: function () {
        $('#loading').css('display', 'block');
      },
      complete: function () {
        $('#loading').css('display', 'none');
      }
    });
  });
</script>
{% endblock %}